@use "../util/functions" as f;

//styling that's responsible for the greetings
.greetings {
  font-size: 1.5rem;
  text-align: center;
  p:first-child {
    margin-bottom: 0;
    font-weight: 700;
  }
  p:last-child {
    margin-top: 0;
    word-spacing: 0.2rem;
  }
}

//styles responsible for the input and forgot password
.input {
  display: grid;
  justify-content: center;
  .form {
    .inputField {
      @include f.inputflex;
      &__one,
      &__two {
        @include f.inputField;
      }

      small {
        text-decoration: underline;
        text-align: right;
        margin-top: -1rem;
      }
    }
    .button {
      button {
        @include f.button;
        margin-top: 1rem;
        background-color: #777777;
        p {
          font-weight: 700;
        }
      }
    }
  }
}

//styles for the "or sign in with"
.orsignin {
  @include f.flex;
  align-items: center;
  &__line::before {
    content: " ";
    display: inline-block;
    border-top: 1px solid black;
    margin: 0;
    min-width: 5rem;
    max-width: 20rem;
  }
}
.socials {
  @include f.button;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  button {
    @include f.button;
    width: 8rem;
  }
}
.existingAcct {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  button {
    @include f.button;
    font-weight: 700;
  }
}
