.dashboard-screen {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .dashboard-screen .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 1440px;
    height: 1024px;
    position: relative;
  }
  
  .dashboard-screen .sidebar {
    position: absolute;
    width: 347px;
    height: 1035px;
    top: 0;
    left: 0;
    background-color: #f2f2f2;
    overflow: hidden;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .dashboard-screen .overlap {
    position: absolute;
    width: 275px;
    height: 530px;
    top: 512px;
    left: 5px;
  }
  
  .dashboard-screen .text-wrapper {
    position: absolute;
    top: 218px;
    left: 118px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #484848;
    font-size: 22px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .dashboard-screen .finance {
    position: absolute;
    width: 275px;
    height: 530px;
    top: 0;
    left: 0;
  }
  
  .dashboard-screen .dashboard {
    position: absolute;
    width: 225px;
    height: 51px;
    top: 64px;
    left: 44px;
  }
  
  .dashboard-screen .overlap-group {
    position: relative;
    width: 223px;
    height: 51px;
    background-color: #1371fe;
    border-radius: 30px;
  }
  
  .dashboard-screen .chart {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 14px;
    left: 26px;
  }
  
  .dashboard-screen .text-wrapper-2 {
    top: 11px;
    left: 74px;
    color: #ffffff;
    font-size: 22px;
    position: absolute;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .dashboard-screen .img {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 222px;
    left: 70px;
  }
  
  .dashboard-screen .subscription {
    position: absolute;
    width: 200px;
    height: 27px;
    top: 147px;
    left: 71px;
  }
  
  .dashboard-screen .subscriptions {
    position: absolute;
    width: 149px;
    height: 21px;
    top: 5px;
    left: 48px;
  }
  
  .dashboard-screen .img-2 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 3px;
    left: 0;
  }
  
  .dashboard-screen .settings {
    position: absolute;
    width: 140px;
    height: 27px;
    top: 405px;
    left: 71px;
  }
  
  .dashboard-screen .text-wrapper-3 {
    position: absolute;
    top: 0;
    left: 47px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #484848;
    font-size: 22px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .dashboard-screen .text-wrapper-4 {
    position: absolute;
    top: 21px;
    left: 69px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #484848;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .dashboard-screen .socials {
    position: absolute;
    width: 275px;
    height: 359px;
    top: 114px;
    left: 5px;
  }
  
  .dashboard-screen .home {
    position: absolute;
    width: 113px;
    height: 27px;
    top: 71px;
    left: 69px;
  }
  
  .dashboard-screen .text-wrapper-5 {
    position: absolute;
    top: 0;
    left: 47px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #292d32;
    font-size: 22px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .dashboard-screen .home-2 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 1px;
    left: 0;
  }
  
  .dashboard-screen .notiifications {
    position: absolute;
    width: 188px;
    height: 28px;
    top: 215px;
    left: 69px;
  }
  
  .dashboard-screen .notification {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 4px;
    left: 0;
  }
  
  .dashboard-screen .explore {
    position: absolute;
    width: 131px;
    height: 27px;
    top: 143px;
    left: 69px;
  }
  
  .dashboard-screen .explore-2 {
    position: absolute;
    width: 79px;
    height: 20px;
    top: 6px;
    left: 48px;
  }
  
  .dashboard-screen .img-3 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 2px;
    left: 0;
  }
  
  .dashboard-screen .text-wrapper-6 {
    position: absolute;
    top: 17px;
    left: 67px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #484848;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .dashboard-screen .group {
    position: absolute;
    width: 119px;
    height: 27px;
    top: 295px;
    left: 69px;
  }
  
  .dashboard-screen .text-wrapper-7 {
    position: absolute;
    top: 42px;
    left: 78px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #484848;
    font-size: 22px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .dashboard-screen .overlap-2 {
    position: absolute;
    width: 1095px;
    height: 1025px;
    top: -1px;
    left: 347px;
  }
  
  .dashboard-screen .overlap-3 {
    position: absolute;
    width: 1095px;
    height: 1025px;
    top: 0;
    left: 0;
  }
  
  .dashboard-screen .message-section {
    position: absolute;
    width: 386px;
    height: 579px;
    top: 1px;
    left: 709px;
    background-color: #f8f8f8;
  }
  
  .dashboard-screen .text-wrapper-8 {
    position: absolute;
    top: 38px;
    left: 28px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .dashboard-screen .message {
    position: absolute;
    width: 384px;
    height: 99px;
    top: 183px;
    left: 0;
  }
  
  .dashboard-screen .message-2 {
    position: absolute;
    width: 384px;
    height: 99px;
    top: 282px;
    left: 0;
  }
  
  .dashboard-screen .message-3 {
    position: absolute;
    width: 384px;
    height: 99px;
    top: 381px;
    left: 0;
  }
  
  .dashboard-screen .message-4 {
    position: absolute;
    width: 384px;
    height: 99px;
    top: 480px;
    left: 0;
  }
  
  .dashboard-screen .overlap-group-wrapper {
    position: absolute;
    width: 22px;
    height: 20px;
    top: 46px;
    left: 178px;
  }
  
  .dashboard-screen .div-wrapper {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #1371fe;
    border-radius: 10px;
  }
  
  .dashboard-screen .text-wrapper-9 {
    position: absolute;
    top: 3px;
    left: 7px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .dashboard-screen .overlap-wrapper {
    position: absolute;
    width: 341px;
    height: 37px;
    top: 128px;
    left: 21px;
  }
  
  .dashboard-screen .overlap-4 {
    position: relative;
    width: 339px;
    height: 37px;
    background-color: #eae3e3;
    border-radius: 30px;
  }
  
  .dashboard-screen .text-wrapper-10 {
    position: absolute;
    top: 9px;
    left: 25px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #767272;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .dashboard-screen .line {
    width: 386px;
    top: 185px;
    left: 707px;
    position: absolute;
    height: 1px;
    object-fit: cover;
  }
  
  .dashboard-screen .line-2 {
    width: 1091px;
    top: 105px;
    left: 0;
    position: absolute;
    height: 1px;
    object-fit: cover;
  }
  
  .dashboard-screen .dashboard-page {
    position: absolute;
    width: 708px;
    height: 1025px;
    top: 0;
    left: 1px;
    background-color: #f8f8f8;
    overflow: hidden;
  }
  
  .dashboard-screen .text-wrapper-11 {
    top: 38px;
    left: 26px;
    color: #000000;
    font-size: 28px;
    position: absolute;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .dashboard-screen .line-3 {
    position: absolute;
    width: 1px;
    height: 1024px;
    top: 1px;
    left: 708px;
  }
  
  .dashboard-screen .frame {
    width: 370px;
    height: 212px;
    top: 103px;
    left: 34px;
    background-color: #1371fe;
    border-radius: 30px;
    box-shadow: 0px 4px 20px 2px #00000008;
    position: absolute;
    overflow: hidden;
  }
  
  .dashboard-screen .text-wrapper-12 {
    position: absolute;
    top: 108px;
    left: 40px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .dashboard-screen .text-wrapper-13 {
    position: absolute;
    top: 140px;
    left: 40px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 34px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .dashboard-screen .group-2 {
    position: absolute;
    width: 67px;
    height: 65px;
    top: 31px;
    left: 40px;
  }
  
  .dashboard-screen .overlap-group-2 {
    position: relative;
    width: 69px;
    height: 65px;
  }
  
  .dashboard-screen .group-3 {
    position: absolute;
    width: 69px;
    height: 65px;
    top: 0;
    left: 0;
  }
  
  .dashboard-screen .rectangle {
    position: absolute;
    width: 48px;
    height: 40px;
    top: 0;
    left: 9px;
    background-color: #ffffff;
    border-radius: 10px;
  }
  
  .dashboard-screen .text-wrapper-14 {
    position: absolute;
    top: 50px;
    left: 0;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .dashboard-screen .icon-add-circle {
    position: absolute;
    width: 21px;
    height: 21px;
    top: 10px;
    left: 23px;
  }
  
  .dashboard-screen .group-4 {
    position: absolute;
    width: 48px;
    height: 65px;
    top: 31px;
    left: 277px;
  }
  
  .dashboard-screen .overlap-5 {
    position: relative;
    width: 50px;
    height: 65px;
  }
  
  .dashboard-screen .group-5 {
    position: absolute;
    width: 50px;
    height: 65px;
    top: 0;
    left: 0;
  }
  
  .dashboard-screen .rectangle-2 {
    left: 0;
    position: absolute;
    width: 48px;
    height: 40px;
    top: 0;
    background-color: #ffffff;
    border-radius: 10px;
  }
  
  .dashboard-screen .text-wrapper-15 {
    left: 8px;
    position: absolute;
    top: 50px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .dashboard-screen .icon-money-send {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 9px;
    left: 13px;
  }
  
  .dashboard-screen .group-6 {
    position: absolute;
    width: 50px;
    height: 65px;
    top: 31px;
    left: 167px;
  }
  
  .dashboard-screen .overlap-6 {
    position: relative;
    width: 52px;
    height: 65px;
  }
  
  .dashboard-screen .group-7 {
    position: absolute;
    width: 52px;
    height: 65px;
    top: 0;
    left: 0;
  }
  
  .dashboard-screen .rectangle-3 {
    left: 1px;
    position: absolute;
    width: 48px;
    height: 40px;
    top: 0;
    background-color: #ffffff;
    border-radius: 10px;
  }
  
  .dashboard-screen .tabler-transfer {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 7px;
    left: 11px;
  }
  
  .dashboard-screen .overlap-7 {
    position: absolute;
    width: 250px;
    height: 212px;
    top: 103px;
    left: 424px;
    border-radius: 30px;
  }
  
  .dashboard-screen .frame-2 {
    width: 250px;
    height: 212px;
    top: 0;
    left: 0;
    background-color: #1371fe;
    border-radius: 30px;
    box-shadow: 0px 4px 20px 2px #00000008;
    position: absolute;
    overflow: hidden;
  }
  
  .dashboard-screen .rectangle-4 {
    position: absolute;
    width: 19px;
    height: 116px;
    top: 48px;
    left: 169px;
    background-color: #ffffff;
    border-radius: 15px;
  }
  
  .dashboard-screen .text-wrapper-16 {
    position: absolute;
    top: 185px;
    left: 81px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .dashboard-screen .group-8 {
    position: absolute;
    width: 19px;
    height: 131px;
    top: 33px;
    left: 57px;
  }
  
  .dashboard-screen .rectangle-5 {
    position: absolute;
    width: 131px;
    height: 19px;
    top: 56px;
    left: -56px;
    background-color: #e9e9e9;
    border-radius: 100px;
    transform: rotate(-90deg);
  }
  
  .dashboard-screen .rectangle-6 {
    position: absolute;
    width: 81px;
    height: 19px;
    top: 81px;
    left: -31px;
    background-color: #05f439;
    border-radius: 100px;
    transform: rotate(-90deg);
  }
  
  .dashboard-screen .group-9 {
    position: absolute;
    width: 103px;
    height: 128px;
    top: 36px;
    left: 85px;
  }
  
  .dashboard-screen .overlap-8 {
    position: absolute;
    width: 47px;
    height: 128px;
    top: 0;
    left: 0;
  }
  
  .dashboard-screen .rectangle-7 {
    position: absolute;
    width: 19px;
    height: 106px;
    top: 22px;
    left: 0;
    background-color: #ffffff;
    border-radius: 15px;
  }
  
  .dashboard-screen .rectangle-8 {
    position: absolute;
    width: 46px;
    height: 19px;
    top: 96px;
    left: -13px;
    background-color: #05f439;
    border-radius: 100px;
    transform: rotate(-90deg);
  }
  
  .dashboard-screen .rectangle-wrapper {
    position: absolute;
    width: 19px;
    height: 128px;
    top: 0;
    left: 28px;
    background-color: #ffffff;
    border-radius: 15px;
  }
  
  .dashboard-screen .rectangle-9 {
    position: relative;
    width: 116px;
    height: 19px;
    top: 60px;
    left: -48px;
    background-color: #05f439;
    border-radius: 100px;
    transform: rotate(-90deg);
  }
  
  .dashboard-screen .overlap-9 {
    position: absolute;
    width: 47px;
    height: 95px;
    top: 33px;
    left: 56px;
  }
  
  .dashboard-screen .rectangle-10 {
    position: absolute;
    width: 64px;
    height: 19px;
    top: 54px;
    left: 6px;
    background-color: #05f439;
    border-radius: 100px;
    transform: rotate(-90deg);
  }
  
  .dashboard-screen .group-10 {
    position: absolute;
    width: 19px;
    height: 95px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-radius: 15px;
  }
  
  .dashboard-screen .rectangle-11 {
    position: relative;
    width: 53px;
    height: 19px;
    top: 59px;
    left: -17px;
    background-color: #05f439;
    border-radius: 100px;
    transform: rotate(-90deg);
  }
  
  .dashboard-screen .overlap-10 {
    position: absolute;
    width: 640px;
    height: 518px;
    top: 365px;
    left: 34px;
    border-radius: 30px;
  }
  
  .dashboard-screen .recent-transactions {
    position: absolute;
    width: 640px;
    height: 518px;
    top: 0;
    left: 0;
    background-color: #f2f2f2;
    border-radius: 30px;
    overflow: hidden;
  }
  
  .dashboard-screen .line-wrapper {
    position: relative;
    height: 68px;
    background-image: url(./img/image.png);
    background-size: 100% 100%;
  }
  
  .dashboard-screen .line-4 {
    width: 577px;
    top: 67px;
    left: 31px;
    position: absolute;
    height: 1px;
    object-fit: cover;
  }
  
  .dashboard-screen .img-wrapper {
    position: relative;
    height: 68px;
    background-image: url(./img/recent-traction-last-7-days.png);
    background-size: 100% 100%;
  }
  
  .dashboard-screen .frame-3 {
    width: 637px;
    height: 390px;
    top: 106px;
    left: 0;
    border-radius: 25px;
    position: absolute;
    overflow: hidden;
  }
  
  .dashboard-screen .overlap-11 {
    position: relative;
    width: 535px;
    height: 458px;
    left: 55px;
  }
  
  .dashboard-screen .group-11 {
    position: absolute;
    width: 530px;
    height: 68px;
    top: 0;
    left: 0;
  }
  
  .dashboard-screen .rectangle-12 {
    top: 0;
    background-color: #d9d9d9;
    position: absolute;
    width: 68px;
    height: 68px;
    left: 0;
    border-radius: 12px;
  }
  
  .dashboard-screen .text-wrapper-17 {
    position: absolute;
    top: 10px;
    left: 78px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .dashboard-screen .text-wrapper-18 {
    position: absolute;
    top: 23px;
    left: 431px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .dashboard-screen .element-september {
    position: absolute;
    top: 40px;
    left: 78px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #6e6e6e;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .dashboard-screen .group-12 {
    position: absolute;
    width: 514px;
    height: 68px;
    top: 78px;
    left: 0;
  }
  
  .dashboard-screen .rectangle-13 {
    top: 0;
    background-color: #04db33;
    position: absolute;
    width: 68px;
    height: 68px;
    left: 0;
    border-radius: 12px;
  }
  
  .dashboard-screen .text-wrapper-19 {
    top: 23px;
    color: #6e6e6e;
    position: absolute;
    left: 431px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .dashboard-screen .group-13 {
    position: absolute;
    width: 526px;
    height: 68px;
    top: 156px;
    left: 0;
  }
  
  .dashboard-screen .rectangle-14 {
    position: absolute;
    width: 68px;
    height: 68px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-radius: 12px;
  }
  
  .dashboard-screen .group-14 {
    position: absolute;
    width: 527px;
    height: 68px;
    top: 234px;
    left: 0;
  }
  
  .dashboard-screen .group-15 {
    position: absolute;
    width: 535px;
    height: 68px;
    top: 312px;
    left: 0;
  }
  
  .dashboard-screen .overlap-group-3 {
    position: absolute;
    width: 68px;
    height: 68px;
    top: 0;
    left: 0;
    background-color: #000000;
    border-radius: 12px;
  }
  
  .dashboard-screen .text-wrapper-20 {
    position: absolute;
    top: 28px;
    left: 3px;
    font-family: "Racing Sans One-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 11px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .dashboard-screen .group-16 {
    position: absolute;
    width: 530px;
    height: 458px;
    top: 0;
    left: 0;
  }
  
  .dashboard-screen .paypal-icon {
    position: absolute;
    width: 68px;
    height: 458px;
    top: 0;
    left: 0;
  }
  
  .dashboard-screen .rectangle-15 {
    top: 390px;
    background-color: #d9d9d9;
    position: absolute;
    width: 68px;
    height: 68px;
    left: 0;
    border-radius: 12px;
  }
  
  .dashboard-screen .paypal-logo {
    position: absolute;
    width: 68px;
    height: 68px;
    top: 0;
    left: 0;
  }
  
  .dashboard-screen .text-wrapper-21 {
    position: absolute;
    top: 400px;
    left: 78px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .dashboard-screen .text-wrapper-22 {
    top: 413px;
    color: #000000;
    position: absolute;
    left: 431px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .dashboard-screen .element-september-2 {
    position: absolute;
    top: 430px;
    left: 78px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #6e6e6e;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .dashboard-screen .spotify {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 88px;
    left: 9px;
  }
  
  .dashboard-screen .h-m-logo {
    position: absolute;
    width: 57px;
    height: 37px;
    top: 172px;
    left: 5px;
    object-fit: cover;
  }
  
  .dashboard-screen .text-wrapper-23 {
    position: absolute;
    top: 237px;
    left: 19px;
    font-family: "Racing Sans One-Regular", Helvetica;
    font-weight: 400;
    color: #304797;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .dashboard-screen .expenses-tracking {
    position: absolute;
    width: 339px;
    height: 364px;
    top: 621px;
    left: 732px;
    background-color: #1371fe;
    border-radius: 49px;
    overflow: hidden;
  }
  
  .dashboard-screen .text-wrapper-24 {
    position: absolute;
    top: 15px;
    left: 33px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .dashboard-screen .total-exp-wrapper {
    position: absolute;
    width: 235px;
    height: 72px;
    top: 251px;
    left: 52px;
    background-color: #ffffff;
    border-radius: 67px;
  }
  
  .dashboard-screen .total-exp {
    position: absolute;
    top: 24px;
    left: 21px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 400;
    color: #1371fe;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .dashboard-screen .span {
    font-weight: 300;
  }
  
  .dashboard-screen .text-wrapper-25 {
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
  }
  
  .dashboard-screen .progressbar {
    position: absolute;
    width: 144px;
    height: 144px;
    top: 72px;
    left: 97px;
    background-image: url(./img/total.svg);
    background-size: 100% 100%;
  }
  
  .dashboard-screen .overlap-group-4 {
    position: relative;
    width: 140px;
    height: 87px;
  }
  
  .dashboard-screen .value {
    position: absolute;
    width: 140px;
    height: 75px;
    top: 0;
    left: 0;
  }
  
  .dashboard-screen .text-wrapper-26 {
    position: absolute;
    top: 49px;
    left: 44px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .dashboard-screen .text-wrapper-27 {
    position: absolute;
    top: 71px;
    left: 32px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 13px;
    letter-spacing: 0;
    line-height: normal;
  }
  