.signup-page {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .signup-page .div {
    background-image: url(https://c.animaapp.com/8QsuUqNR/img/signup-page.png);
    background-size: cover;
    background-position: 50% 50%;
    width: 1440px;
    height: 1024px;
    position: relative;
  }
  
  .signup-page .overlap-group {
    left: 538px;
    background-color: #ff3d00;
    position: absolute;
    width: 173px;
    height: 49px;
    top: 655px;
    border-radius: 20px;
  }
  
  .signup-page .text-wrapper {
    position: absolute;
    top: 15px;
    left: 63px;
    font-family: "Inter", Helvetica;
    font-weight: 300;
    color: #f5f5f5;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .signup-page .overlap {
    left: 729px;
    background-color: #0008d0;
    position: absolute;
    width: 173px;
    height: 49px;
    top: 655px;
    border-radius: 20px;
  }
  
  .signup-page .text-wrapper-2 {
    position: absolute;
    top: 15px;
    left: 54px;
    font-family: "Inter", Helvetica;
    font-weight: 300;
    color: #f5f5f5;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .signup-page .text-wrapper-3 {
    position: absolute;
    top: 726px;
    left: 575px;
    font-family: "Inter", Helvetica;
    font-weight: 300;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .signup-page .text-wrapper-4 {
    position: absolute;
    top: 601px;
    left: 667px;
    font-family: "Inter", Helvetica;
    font-weight: 300;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .signup-page .create-account-to {
    position: absolute;
    top: 74px;
    left: 531px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #f2f2f2;
    font-size: 41px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .signup-page .span {
    font-weight: 700;
  }
  
  .signup-page .text-wrapper-5 {
    font-weight: 300;
  }
  
  .signup-page .line {
    left: 799px;
    position: absolute;
    width: 332px;
    height: 1px;
    top: 614px;
    object-fit: cover;
  }
  
  .signup-page .img {
    left: 310px;
    position: absolute;
    width: 332px;
    height: 1px;
    top: 614px;
    object-fit: cover;
  }
  
  .signup-page .OB-forms-email {
    position: absolute;
    width: 300px;
    height: 84px;
    top: 208px;
    left: 570px;
  }
  
  .signup-page .text-wrapper-6 {
    position: absolute;
    width: 300px;
    top: 0;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
  }
  
  .signup-page .frame {
    width: 300px;
    padding: 9px 15px 10px 14px;
    position: absolute;
    top: 28px;
    left: 0;
    background-color: #ffffff;
    border-radius: 14px;
    overflow: hidden;
    border: 1px solid;
    border-color: #e2e1e5;
    margin-top: -1px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #d2d2d2;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
  }
  
  .signup-page .OB-forms-password {
    position: absolute;
    width: 300px;
    height: 84px;
    top: 322px;
    left: 570px;
  }
  
  .signup-page .name-wrapper {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: flex-start;
    padding: 9px 15px 10px 14px;
    position: absolute;
    top: 28px;
    left: 0;
    background-color: #ffffff;
    border-radius: 14px;
    overflow: hidden;
    border: 1px solid;
    border-color: #e2e1e5;
  }
  
  .signup-page .name {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #d2d2d2;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
  }
  
  .signup-page .OB-forms-confirm {
    position: absolute;
    width: 300px;
    height: 84px;
    top: 436px;
    left: 570px;
  }
  
  .signup-page .OB-forms-signup {
    height: 47px;
    padding: 9px 15px 10px 14px;
    top: 533px;
    background-color: #1377ff;
    display: flex;
    flex-direction: column;
    width: 303px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 569px;
    border-radius: 14px;
    border: 1px solid;
  }
  
  .signup-page .name-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
  }
  
  .signup-page .OB-forms-sign-in {
    height: 48px;
    padding: 10px 15px;
    top: 774px;
    background-color: #0377ff;
    display: flex;
    flex-direction: column;
    width: 303px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 569px;
    border-radius: 14px;
    border: 1px solid;
  }
  