@mixin inputField {
  width:15rem;
  height:2rem;
  padding:1rem;
}
@mixin grid{
  display:grid;
  justify-content: center;
}
@mixin flex{
  display:flex;
  align-items: center;
  justify-content: center;
  gap:2rem;
}
@mixin inputflex{
  display:flex;
  justify-content: center;
  flex-direction: column;
  gap:1rem;
}

@mixin button{
  @include inputField;
  display:flex;
  justify-content: center;
  align-items: center;
  padding:0;
  gap:2rem;
}